[Unit]
Description="Incron backup configuration timer for automatic /etc backups"

[Timer]
OnUnitActiveSec=0m
# Every 15 minutes
OnCalendar=*:0/15

[Install]
WantedBy=timers.target

